<center><img src="@rate_data[:image_url]"></center>

  <div class="rate_info">
  <p id="voting_on">You're fucking with: <%=@rate_data[:sampled_user_id]%></p>
  <p id="voting_question"><%=@rate_data[:question]%></p>

    <form id="rate" method="post" action="/rate">
      <input id="hidden_user" type="hidden" name="user_id" value="<%=@rate_data[:sampled_user_id]%>">
      <input id="hidden_question" type="hidden" name="question_id" value="<%=@rate_data[:question_id]%>">
      <span class="slider_attrs"><%=@rate_data[:endpoint1]%><input type="range" name="slider_points" min="1" max="100"><%=@rate_data[:endpoint2]%></span><br>
      <input type="submit" value="Stereotype!">
    </form>
  </div>
