<% if session[:user_id] %>
  <center><img src="http://placekitten.com/g/300/300"></center>

  <div class="rate_info">
  <p id="voting_on">You're fucking with: <%=@sampled_user.id%></p>
  <p id="voting_question"><%=@sampled_question.question%></p>


    <form id="rate" method="post" action="/rate">
      <input id="hidden_user" type="hidden" name="user_id" value="<%=@sampled_user.id%>">
      <input id="hidden_question" type="hidden" name="question_id" value="<%=@sampled_question.id%>">
      <span class="slider_attrs"><%=@sampled_question.endpoint1%><input type="range" name="slider_points" min="1" max="100"><%=@sampled_question.endpoint2%></span><br>
      <input type="submit" value="Stereotype!">
    </form>
  </div>

<% end %>
