<center>
  <h2>Leaderboard</h2>
  <% @properties.each do |property| %>
  <p class = "leaderboard_header"><%= property.question %></p>
  <div>
    <div class = "leaders">
      <div>
        <div class='photo_container left_image'>
        <p>Biggest <%= property.endpoint1 %></p>
          <img class = "photo" src="<%= @left_most[property].image_url %>">
        </div>
      </div>
      <div>
        <div class='photo_container right_image'>
        <p>Biggest <%= property.endpoint2 %></p>
          <img class = "photo" src="<%= @right_most[property].image_url %>">
        </div>
        <div class = "bottom"></div>
      </div>
    </div>
  </div>
  <%end%>
</center>
