<meta charset=utf-8 />
  <script src="http://d3js.org/d3.v3.min.js" type="text/javascript" charset="utf-8"></script>
<center>
  <div class="profile_content">
    <h2>Profile</h2>
      <div class='photo_container'>
        <img class="photo" src="<%= current_user.image_url %>", alt="user image">
      </div>
      <% if current_user.properties.length == 0 %>
        <div><p>No votes thus far</p></div>
      <%end%>
  </div>
  <div>
    <% @active_properties.each do |property| %>
      <div class = "display_question">
        <p><%= property.question %></p>
          <div class ="slider_background">
            <div class="left_endpoint"><%= property.endpoint1 %></div>
            <div class="d3"></div>
            <div class="right_endpoint"><%= property.endpoint2 %></div>
          </div>
      </div>
    <%end%>
  </div>
</center>

<script type="text/javascript">
  d3.selectAll(".d3")
  .data(<%= @sliders %>)
  .transition()
  .duration(2000)
  .style("margin-left", function(d) { return  d + "px"; });
</script>
